<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Login</title>
    <style>
    </style>
</head>
<body>
    <div class="login-container">
        <button id="google-login-btn">Login with Google</button>
    </div>

    <script>
     document.getElementById('google-login-btn').addEventListener('click', () => {
        const clientId = '887111954782-4ak0653kmakl505jo33d7c23tpps1rge.apps.googleusercontent.com';
        const redirectUri = 'http://localhost:5173/oauth-callback';
        const scope = 'https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email';
        const authUrl = `https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=${clientId}&redirect_uri=${encodeURIComponent(redirectUri)}&scope=${encodeURIComponent(scope)}`;

        // Redirect the user to Google's OAuth 2.0 server
        window.location.href = authUrl;
    });
    </script>
</body>
</html>
